/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



.text-indigo-500 {
  --tw-text-opacity: 3;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.w-3\/4 {
  width: 100%;
}

.rounded-lg {
  border-radius: 1.5rem;
}

.px-6 {
  padding-left: 3rem;
  padding-right: 1.5rem;
}

.nav-links{
  list-style: none;
}